/* Text Color */
p, ul {
    color: black;
}

h2 {
    font:30px;
}

/*Text Type*/

p {
    font-family: sans-serif;
}

h1 {
    font-family: fantasy;
    font-size: 40px;
    color: blue;
}

/*Background*/

nav {
    background-color: grey;
}





/*Style Website */

/*Padding*/


.anton {
    padding-right: 650px;
    padding-left: 650px;
}

div {
    display: flex;
    flex-direction: row;
}

.hobie {
    padding-right: 200px;
    padding-left: 200px;
    background-color: blue;
}

.hobbie {
    padding-right: 700px;
    padding-left:  700px;
    background-color: blue;
    font-size: 30px;
    
}

body {
    background-color: limegreen;
}

a {
    outline: none;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:focus {
    color: lightblue;
    background-color: lightblue;
}

section {
    background-color: grey;
}

.pet {
    background-color: chartreuse;
    padding-left: 200px;
    padding-right: 200px;
}

.song {
    background-color: crimson;
}

.aboutt {
    background-color: greenyellow;
}

nav {
    display: flex;
    flex-direction: row;
}

.petss {
    padding-right: 500px;
    padding-left: 500px;
    background-color: chartreuse;
}

.songss {
    display: flex;
    flex-direction: row;
    background-color: crimson;
}

.links {
    background-image: url("Images/Background\ -\ Website.jpg");
    background-size: 2000px;
}

.Credits {
    background-color: turquoise;
}