/* Text Color */
p {
    color: black;
}

h1 {
    color: blue;
    font-size:40px;
}

h2 {
    font:30px;
}

/*Text Type*/

p {
    font-family: sans-serif;
}

h1 {
    font-family: fantasy;
}

/*Background*/

nav {
    background-color: grey;
}

h1 {
    background-image:url("Images/Background\ -\ Website.jpg");
}



/*Style Website */

div {
    display: flex;
    flex-direction: row;
}

